.container {
    visibility: hidden;
  }

.img-container {
      position: relative;
      overflow: hidden;
      height: 300px;
      width: 400px;
  }

  .img-container-after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    right: 0;
  }
  .photo {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding-top: 1vh;
  }