.footer {
  padding: 1em;
}

// Desktop
@media (min-width: 576px) {
  .project {
    display: flex;
    flex-direction: row;
    padding: 3em;

    .project-view {
      display: none !important;
    }

    .project-cover {
      position: absolute;
      right: 6vw;
      height: 200px;
      width: 300px;
      object-fit: cover;
      opacity: 0.25;
    }

    .description {
      display: block !important;
      max-width: 50vw;
    }
  }

  .nav-overlay{
    transform: translateX(-100%);
    transition: transform 1s;
  }
}
