* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: whitesmoke;
}

.app {
  // height: 100vh;
  // width: auto;
}

.landing {
  background-color: #9570c5;
  height: 100%;
  width: auto;
  padding: 0.75rem;

  .landing-info {
    margin: 2vh 0 20vh 0;
  }

  .latest-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-top: 1vh;

    .arrow {
      width: 100%;
      height: auto;
      max-width: 1.25em;
      transform: rotate(90deg);
      filter: invert(1);
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

  .list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    li {
      margin-left: 9vw;
    }
  }
}

.socials {
  display: flex;
  flex-direction: row;

  .icon {
    width: 100%;
    height: auto;
    max-width: 1.5em;
    margin: 0 5px 0 0;
    filter: invert(1);
  }
}

.project {
  .project-cover {
    height: auto;
    width: 100vw;
  }

  .project-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;

    .project-link{
      display: flex;
      flex-direction: row;
      align-items: center;

      .arrow {
        width: 100%;
        height: auto;
        max-width: 1.25em;
      }
    }

    .project-info-text {
      color: black;
    }

    .project-view{
      display: flex;
      flex-direction: column;
      .icon {
        width: 100%;
        height: auto;
        max-width: 1.5em;
        margin: 0 5px 0 0;
        filter: grayscale(1);
      }
    }
  }


}
