.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 600ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

@keyframes FadeAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.active{
  transform: translateX(0)!important;
  transition: transform 1.3s ease;
}

.hover{
  transform: translateX(0)!important;
  transition: transform 1.3s ease;
}