/* h1 {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #101010;
} */

.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  border: 0px;
  height: 2px;
  overflow: hidden;
  background: #1b1b1b00;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 100px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #1b1b1b00;
}

.pace.pace-inactive {
  display: none;
}

/* loader  */

.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgb(17, 17, 17);
  z-index: 1;
  display: flex;
  align-items: end;
  justify-content: start;
}

.loader-text{
  display: flex;
  align-items: end;
  /* height: 100%; */
  justify-content: start;
  overflow: hidden;
  padding: 0 0 .5em 1em;
  position: relative;
  z-index: 5;
}

.loader-letters{
  color: white;
  font-size: clamp(1.5em, 6vw, 6em);
  font-family: "Harmond";
  margin: 2vw 2vw 0vw 0vw;
}

.loader-letters-name{
  color: white;
  font-size: clamp(.9em, 1.5vw, 1.5em);
  margin: 2vw 2vw 1vw 2vw;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.loading-in{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background:  #f7f3f0;
  z-index: 6;
}

.loading-line{
  height: 9vh;
  width: 2px;
  margin: 0 .2em 0 .65em;
  background-color: white;
  transform: rotate(30deg);
}

.loader-letter-name{
  
}
